body {
    height: 100vh;
    padding: 10px;
}

.main-container {
    background-color: maroon;
    height: 100%;
    padding: 100px 5px 5px 5px;
}

    .main-container .body-container {
        background-color: white;
        height: 100%;
        padding: 5px 10px 10px 10px;
    }

        .main-container .body-container .search-container {
            background-color: aliceblue;
            border: solid 1px lightblue;
            padding: 30px 10px 10px 10px;
        }

            .main-container .body-container .search-container input.search-box {
                width: 100%;
            }

        .main-container .body-container .search-result .search-label {
            font-weight: bold;
        }

        .main-container .body-container .search-result {
            font-size: 20px;
        }

        .main-container .body-container .search-error {
            color: red;
            float: left;
        }
